body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../static/premium-products-hero.png") no-repeat;
  background-size: cover;
}

/* canvas {
  height: 300px;
  width: 500px;
} */
